<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.6.3/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <fieldset class="table-search-fieldset">
                <legend>筛选可加入队伍</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="" method="GET">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" for="destination">目的地</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="destination" id="destination" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" for="departure_location">出发地点</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="departure_location" id="departure_location"
                                        autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" for="travel_mode">出行方式</label>
                                <div class="layui-input-inline">
                                    <select name="travel_mode" id="travel_mode">
                                        <option value="">无要求</option>
                                        <option value="飞机">飞机</option>
                                        <option value="火车">火车</option>
                                        <option value="大巴">大巴</option>
                                        <option value="私家车">私家车</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" for="team_type">队伍类型</label>
                                <div class="layui-input-inline">
                                    <select name="team_type" id="team_type">
                                        <option value="">无要求</option>
                                        <option value="家庭游">家庭游</option>
                                        <option value="自驾游">自驾游</option>
                                        <option value="跟团游">跟团游</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" for="max_travel_budget">旅游预算</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="max_travel_budget" id="max_travel_budget" min="0"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 搜
                                    索</button>
                            </div>
                        </div>
                    </form>

                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                </div>
            </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">加入</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">查看</a>
            </script>

            <script src="{{ url_for('static', filename='/lib/layui-v2.6.3/layui.js') }}" charset="utf-8"></script>
            <script>
                layui.use(['form', 'table', 'layer'], function () {
                    var $ = layui.jquery,
                        form = layui.form,
                        table = layui.table,
                        layer = layui.layer;

                    // 渲染表格
                    var tableIns = table.render({
                        elem: '#currentTableId',
                        url: "{{ url_for('static', filename='api/table.json') }}", // 修改为后端提供数据的接口
                        clearUrl: "{{ url_for('static', filename='api/clear.json') }}", // 缓存清理接口
                        toolbar: '#toolbarDemo',
                        defaultToolbar: ['filter', 'exports', 'print', {
                            title: '提示',
                            layEvent: 'LAYTABLE_TIPS',
                            icon: 'layui-icon-tips'
                        }],
                        cols: [[
                            { type: "checkbox", width: 50 },
                            { field: 'id', width: 80, title: 'ID', sort: true },
                            { field: 'destination', title: '目的地' },
                            { field: 'departure_location', title: '出发地点' },
                            { field: 'travel_mode', title: '出行方式' },
                            { field: 'team_type', title: '队伍类型' },
                            { field: 'travel_time', title: '出行时间' },
                            { field: 'travel_budget', title: '旅游预算' },
                            { field: 'max_members', title: '最大人数' },
                            { field: 'current_members', title: '当前人数' },
                            { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                        ]],
                        limits: [10, 15, 20, 25, 50, 100],
                        limit: 15,
                        page: true,
                        skin: 'line'
                    });

                    // 监听搜索操作
                    form.on('submit(data-search-btn)', function (data) {
                        var result = JSON.stringify(data.field);
                        layer.alert(result, {
                            title: '最终的搜索信息'
                        });

                        //执行搜索重载
                        table.reload('currentTableId', {
                            page: {
                                curr: 1
                            },
                            where: {
                                searchParams: result
                            }
                        }, 'data');

                        return false;
                    });

                    //监听表格复选框选择
                    table.on('checkbox(currentTableFilter)', function (obj) {
                        console.log(obj)
                    });

                    // 监听行工具事件
                    table.on('tool(currentTableFilter)', function (obj) {
                        var data = obj.data;
                        if (obj.event === 'edit') {
                            var teamId = data.id; // 获取当前行的team_id
                            $.ajax({
                                url: '/join_team/' + teamId,
                                type: 'POST',
                                success: function (response) {
                                    if (response.status === 'success') {
                                        layer.msg(response.message, { icon: 1 });
                                    } else {
                                        layer.msg(response.message, { icon: 2 });
                                    }
                                },
                                error: function (xhr, status, error) {
                                    layer.msg('请求失败，请稍后重试');
                                }
                            });
                        } else if (obj.event === 'delete') {
                            var teamId = data.id; // 获取当前行的team_id
                            $.ajax({
                                url: '/team/' + teamId,
                                type: 'GET',
                                success: function (response) {
                                    window.location.href = '/team/' + teamId;
                                },
                                error: function (xhr, status, error) {
                                    layer.msg('请求失败，请稍后重试');
                                }
                            });
                        }
                    });

                });
            </script>
</body>

</html>