<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.6.3/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layuimini.css') }}?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/default.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome-4.7.0/css/font-awesome.min.css') }}"
        media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>

<body>
    <div class="layuimini-container layuimini-page-anim">
        <div class="layuimini-main">

            <div class="layui-form layuimini-form">
                <form id="user-password-form" method="POST">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">旧的密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空"
                                placeholder="请输入旧的密码" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">新的密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空"
                                placeholder="请输入新的密码" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">确认密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="again_password" lay-verify="required|samePwd"
                                lay-reqtext="确认密码不能为空" placeholder="请再次输入新的密码" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" id="saveBtn">确认保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='lib/layui-v2.6.3/layui.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer;

            form.verify({
                samePwd: function (value) {
                    if (value !== $('#user-password-form input[name="new_password"]').val()) {
                        return '两次输入的密码不一致';
                    }
                }
            });

            $('#saveBtn').on('click', function () {
                $.ajax({
                    url: "{{ url_for('user_password') }}",
                    type: "POST",
                    data: $('#user-password-form').serialize(),
                    success: function (response) {
                        layer.alert(response.message, {
                            title: '提交结果'
                        });
                    },
                    error: function (xhr) {
                        var response = JSON.parse(xhr.responseText);
                        layer.alert(response.message, {
                            title: '错误'
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>