<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
</head>
<body>
    <h2>Create Team</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.destination.label }} {{ form.destination(size=32) }}
        </div>
        <div>
            {{ form.max_members.label }} {{ form.max_members() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>
